#online-visitors {
  flex: col;
  padding-left: 0px;
  gap: 10px;

  > li:first-child {
    margin-top: 0px;
  }

  > li {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 5px;
    list-style: none;
  }
}

.pointer {
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 10px;
  background-color: gray;
  pointer-events: none;
}

#info {
  position: fixed;

  top: 10px;
  left: 10px;
  margin-right: 10px;
  padding: 10px;
  max-width: 320px;

  border-radius: 6px;
  border: 1px solid rgba(1,1,1, 0.6);

  font-family: sans-serif;
  font-size: 14px;

  h1 {
    font-size: 14px;
    font-weight: 800;
    margin: 0px;
    margin-left: 4px;
    margin-top: 10px;
  }

  > p {
    display: block;
    margin: 0px;
    margin-top: 10px;
  }
}
