#online-visitors {
  flex: col;
  padding-left: 0px;
  gap: 10px;

  > li:first-child {
    margin-top: 0px;
  }

  > li {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 5px;
    list-style: none;
  }
}

.pointer {
  width: 10px;
  height: 10px;
  position: fixed;
  border-radius: 10px;
  background-color: gray;
  pointer-events: none;
}
